body {
  margin: 0;
  padding: 0;
  background-image: url(../pic/Minas-Marinas-8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: auto;
  padding-top: 20px;
}


table,
tr,
td {
  border: 2px solid blue;
  border-collapse: collapse;
  border-spacing: 0;

}

table {
  margin: auto;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
  color: transparent;
  font-weight: bold;
  font-size: large;
  background-color: white;

}

td:hover {
  cursor: not-allowed;
}

.cell {
  text-align: center;
  background-color: gray;
}



.cell:hover {
  cursor: pointer;
  background-color: rgb(82, 168, 189);
}

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: aqua;
}

.levelBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 15px; */
}

.levelBtn button {
  border: solid #6aebf2 1px;
  border-radius: 25px;
  height: 45px;
  width: 100px;
  margin-right: 15px;
  cursor: pointer;
  transition: all ease-in-out .3s;

}

button:hover {
  background-color: #39adbc;
  /* Green */
  color: white;
  transform: scale(1.2);
}

.timer {
  margin: auto;
  text-align: center;
  padding-bottom: 8px;
}

.info {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.smiley {
  width: 70px;
  height: 70px;
  font-size: 40px;
  border-radius: 50%;
  margin: 5px;
}

p {
  margin: 12px;
}

#life {
  font-size: 20px;
  font-family: cursive;
  color: aqua;
}

#shown {
  font-size: 20px;
  font-family: cursive;
  color: aqua;
}

p {
  font-size: 20px;
  font-family: cursive;
  color: aqua;
}

.safe {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(49, 244, 244);
  margin: 5px;

}

.timer,
.timer span {
  color: aqua;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: larger;
}

.controlBtn {
  text-align: center;
  display: flex;
  justify-content: center;
}

.safeTd {
  background-color: yellow;
  color: red;
}